@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;600;700&display=swap');
/* -----start top bar----- */
.top-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    font-family: Poppins;
    word-spacing: 50%;
}

.top-bar a {
    color: #646bd9;
    text-decoration: none;
}

.top-bar a:hover {
    text-decoration: none;
}
/* -----end top bar----- */

/* -----start header section ----- */
.header-section {
    background-color: #001cf300;
    padding: 10px 0;
}

.logo img {
    height: 60px;
}

.contact-info {
    gap: 20px;
}

.contact-info a {
    color: white;
    font-size: 20px; 
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info img {
    width: 30px; 
    height: 30px;
}

.contact-info a:hover {
    text-decoration:none;
}

/* Mobile View Adjustment */
@media (max-width: 768px) {
    .contact-info {
        justify-content: center;
    }
    
    .logo {
        margin-top: 10px;
    }
}
/* -----end header section ----- */


/* -----start hero section----- */
.custom-logo-section {
    background-image: url('images/bg-image.png'); /* Background Image */
    background-size: cover;
    background-position: center;
    height: 80vh; /* Set height to 85% of viewport height */
    padding-top: 100px;
    padding-bottom: 0px;
    margin-top: -80px;
    background-color: #f8f7fc; /* Text Color */
    color: #fff; /* Text Color */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally if needed */
}

.logo-heading {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */
    margin-bottom: 15px;
    padding-right: 40px;
    line-height: 1.1em;
    color: white; 
}

.logo-heading .highlight {
    text-decoration: underline;
    text-decoration-color: #6868D1; /* Underline color */
}


.logo-description {
    font-size: 18px;
    line-height: 1.6;
    padding-right: 180px ;
    margin-bottom: 0px;
    text-align: justify;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Button Styling */

.view-pricing-btn {
    background-color: #001cf300;
    color:#6868D1;;
    border: 1px solid #6868D1;
}

.custom-btn:hover {
    opacity: 0.8;
}
/* Trust Pilot Image Styling */
.trust-badge {
    margin-top: 20px;
}

.custom-trust-images-desk {
    width: 320px;
}



/* Responsive Adjustments */
/* @media (max-width: 768px) {
    .btn-group {
        flex-direction: column;
    }
} */
/*-----end hero section-----*/

/*-----start second-section-----*/

.second-section {
    background-color: #f8f7fc; /* Text Color */
    padding-top: 70px;

}

.second-title {
    font-size: 44px;
    font-weight: 800;
    color: #222;
    font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */
}

.highlight2 {
    color: #646bd9;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #646bd9;
    text-decoration-thickness: 8px;
}

.second-text {
    font-size: 30px;
    font-weight: 600;
    color: #6868D1;
    font-family: 'Zilla Slab', serif;
    line-height: 1.2em;
}
/* -----end second-section----- */


/* <!-----start bg-image-section -----> */

.bg-image-section {
    background: url('images/2\ section.png') no-repeat center center/cover;
    padding-bottom: 70px;
    padding-top: 30px;
    background-color: #f8f7fc; /* Text Color */
    color: #fff; /* Text Color */}

.unique-heading {
    font-size: 42px;
    font-weight: 700;
    color: #000;
    font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */

}

.unique-description {
    font-size: 18px;
    color: #7C7C82;
    text-align: justify;
}
.button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    margin-top: 30px;
}
/* <!-----end bg-image-section -----> */


/*-----start features-section-----*/
.features-section {
    background: url('images/Section.png') center/cover no-repeat;
    padding: 10px 0;
    color: white;
    text-align: center;
}


.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px; /* Controls space between boxes */
    flex-wrap: wrap;
}

.feature-box {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 150px;
    flex: 1; /* Ensures equal width */
}

.feature-box img {
    width: 75px; /* Adjust size as needed */
    height: auto;
}

.feature-box p {
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: -8px;
}

@media (max-width: 992px) {
    .feature-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-box {
        width: calc(50% - 15px); /* Two per row */
    }
}

@media (max-width: 576px) {
    .feature-box {
        width: 100%; /* Full width on small screens */
    }
}
/* ----end features-section---- */



/*----- start packages section -----*/
.pricing-heading {
    font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */
    text-align: center;
    font-size: 52px;
    margin-top: 50px;
    font-weight: 600;
}

.pricing-highlight {
    color: #848488;
}

.pricing-expectation {
    color: #333333;
}
.pricing-description {
    color: #555555;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
}

.pricing-highlight-black {
    color: #000000;
}
.logo-packages-section {
    background-image: url('images/Packages.png'); /* Apni image ka path yahan lagao */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
.pdfSec {
    text-align: left;
    margin-bottom: 10px;
}
.pdfSec strong {
    display: block;
    margin-bottom: 5px;
}
.pdfSec img {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo-packages-container {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
}

.logo-packages-heading {
    margin-bottom: 20px;
    font-size: 52px;
    font-weight: 900;
    color: #333;
    font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */
    text-align: center;
}

/* Packages Layout */
.packages-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.package {
    background: #ffffffa8;
    border-radius: 10px;
    width: 30%;
    min-width: 280px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    padding: 30px 20px;
    border: 2px solid #FBB040;
}

.package:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

/* Best Seller Tag */
.package.best-seller::before {
    content: "BEST SELLER";
    background: #ff3b3b;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.package h3 {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0px;
}
.package h5 {
    font-size: 24px;
    font-weight: 700;
    color: #6868D1;
}
.package h6 {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}

/* Price Section */
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}

.price h2 {
    font-weight: 700;
    color: #2c3e50;
    margin: 0;
    font-size: 30px;
}

.price strike {
    font-size: 16px;
    font-weight: 700;
    color: red;
    margin-top: -10px;
}

.price span {
    margin-left: -40px;
    font-size: 13px;
    font-weight: 600;
    color: #808080;
    margin-bottom: -20px;
}
.best-seller{
    background-color: #e4e1ff;
}

/* Divider */
.divider {
    height: 1px;
    background-color: #FBB040;
    margin: 15px 0px;
}

/* Package List Styling */
.package-list {
    list-style-type: none;
    max-height: 180px;
    overflow-y: auto;
    padding: 0;
    margin: 10px 0;
    text-align: center; /* List ko center align karna */
}


/* List Items */
.package-list li {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0px;
    font-size: 14px;
    color: #000000;
}

/* List Icons (Bullets) */
.package-list li::before {
    content: "•";
    color: #6868D1;
    font-size: 20px;
    font-weight: bold;
    margin-right: 8px;
    margin-top: -2px;
}
/* Scrollbar Styling */
.package-list::-webkit-scrollbar {
    width: 3px;
}

.package-list::-webkit-scrollbar-thumb {
    background-color: #6868D1; /* Purple color */
    border-radius: 10px;
}

.package-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Package Button */
.package-btn {
    background: #6868D1;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    line-height: 1em;
}

.package-btn:hover {
    background: #6868D1;
}
.file-formats {
    font-weight: 700;
    font-size: 11px;
    margin-left: -96px;
    margin-bottom: -40px;
}

/* Responsive Design */
@media (max-width: 1000px) {
    .package {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .package {
        width: 100%;
    }
}

/*----- end packages section -----*/




        .latest-logo-section {
            background: url("images/latest.png") no-repeat center center;
            background-size: cover;
            text-align: center;
            padding: 60px 20px;
        }

       .latest-logo-title {
            font-size: 52px;
            font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */
            font-weight: 600;
            color: #848488;
        }

        .latest-logo-title span {
            color: black; /* "Custom Quality Logo Designs" को Black करें */
            font-size: 52px;
            font-family: 'Zilla Slab', serif; /* Zilla Slab Font Applied */
            font-weight: 700;
            z-index: 100;
        }

        .quality-logo {
            position: relative;
        }

        .quality-logo::after {
            content: "";
            display: block;
            width: 100%; /* Underline पूरे text के नीचे आए */
            height: 8px; /* Underline की मोटाई */
            background-color:#646bd9; /* Underline का color */
            position: absolute;
            bottom: 5px; /* Underline text के ठीक नीचे हो */
            left: 0;
            z-index: -100;
        }


     
        .latest-logo-subtitle {
            font-size: 18px;
            color: #666;
            max-width: 700px;
            margin: auto;
        }

        .latest-logo-card {
            background: white;
            border-radius: 20px;
            padding: 25px;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
            text-align: left;
            display: flex;
            align-items: center;
            gap: 15px;
            transition: all 0.3s ease-in-out;
        }

        .latest-logo-card:hover {
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        }

        .latest-logo-card img {
            width: 60px;
        }

        .latest-logo-name {
            font-size: 20px;
            font-weight: 700;
            color: #000;
            display: flex;
            align-items: center;
        }

        .latest-logo-name::before {
            content: "";
            width: 30px;
            height: 3px;
            background: #646bd9;
            display: inline-block;
            margin-right: 10px;
        }

        .latest-logo-text {
            color: #444;
            font-size: 16px;
        }

        .latest-logo-buttons {
            margin-top: 30px;
        }

        .btn-latest-primary {
            background: #646bd9;
            color: white;
            padding: 12px 20px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: 600;
            display: inline-block;
            transition: all 0.3s ease-in-out;
            border: 1px solid #646bd9;
            margin-bottom: 10px;
        }

        .btn-latest-primary:hover {
            background: #4c50b6;
        }

        .btn-latest-outline {
            border: 1px solid #646bd9;
            color: #646bd9;
            padding: 12px 20px;
            border-radius: 8px;
            font-weight: 600;
            gap: 15px;
            display: inline-block;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }

        


        @media (max-width: 993px) and (min-width: 767px) {
            .latest-logo-card {
                display: flex;
                flex-direction: column; /* Column layout ताकि icon ऊपर और heading नीचे आए */
                align-items: center;
                text-align: center;
            }
        
            .latest-logo-card img {
                margin-bottom: 10px; /* Icon और Text के बीच गैप */
            }
        
            .latest-logo-name,
            .latest-logo-text {
                text-align: center;
            }
        }
        





@media (max-width: 1200px) and (min-width: 995px) {
    /* Heading */
    .logo-heading {
        font-size: 54px;
        text-align: left;
        padding-right: 0px;
    }

    /* Description */
    .logo-description {
        font-size: 16px;
        line-height: 1.3;
        text-align: justify;
        padding-right: 0px;

    }



    .custom-btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    /* Trust Badge */
    .trust-badge {
        text-align: left;
        margin-top: 20px;
    }

    .custom-trust-images-desk {
        width: 280px;
    }
    .second-title {
        font-size: 34px;
    }
    .second-text {
        font-size: 24px;
    }
    .unique-heading {
        font-size: 30px;
    }
    .unique-description {
        font-size: 16px;
    }
    .second-section {
        padding-bottom: 16px;
        padding-top: 50px;
    }
}
@media (max-width: 994px) and (min-width: 800px) {
    .logo-heading {
        font-size: 34px;
        text-align: left;
        padding-right: 0px;
    }

    /* Description */
    .logo-description {
        font-size: 16px;
        line-height: 1.3;
        text-align: justify;
        padding-right: 0px;

    }

    
    .custom-btn {
        font-size: 16px;
        padding: 12px 18px;
    }

    /* Trust Badge */
    .trust-badge {
        text-align: left;
        margin-top: 20px;
    }

    .custom-trust-images-desk {
        width: 280px;
    }
    .second-title {
        font-size: 27px;
    }
    .second-text {
        font-size: 22px;
    }
    .unique-heading {
        font-size: 20px;
    }
    .unique-description {
        font-size: 14px;
    }
    .second-section {
        padding-bottom: 16px;
        padding-top: 50px;
    }
    

}
@media (max-width: 799px) {
    .custom-logo-section {
        height: 80vh;
        padding-top: 116px;
        padding-bottom: 0px;
        margin-top: -123px;;
    }
    .logo-heading {
        font-size: 42px;
        text-align: left;
        padding-right: 0px;
        }

    .logo-description {
        font-size: 16px;
        line-height: 1.6;
        padding-right: 00px;
        margin-bottom: 0px;
        text-align: justify;
        }

  
    .custom-btn {
        width: 100%;
        max-width: 280px;
    }

    /* Trust Badge */
    .trust-badge {
        text-align: center;
        margin-top: 15px;
    }

    .custom-trust-images-desk {
        width: 300px;
    }
    .second-title {
        font-size: 24px;
    }
    .second-text {
        font-size: 20px;
    }
    .second-section {
        background-color: #f8f7fc;
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .unique-heading {
        font-size: 20px;
    }
    .unique-description {
        font-size: 14px;
    }
    .bg-image-section {
        padding-bottom: 50px;
        padding-top: 20px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .pricing-heading {
        font-family: 'Zilla Slab', serif;
        text-align: center;
        font-size: 32px;
        margin-top: 0px;
    }

    .logo-heading {
        font-size: 42px;
        text-align: left;
        padding-right: 0px;
    }
    .logo-description {
        font-size: 14px;
        text-align: left;
    }
    .btn-group {
        gap: 6px;
    }
    .custom-btn {
        font-size: 14px;
        padding: 10px 15px;
    }
    .custom-trust-images-desk {
        width: 220px;
    }
    .second-title {
        font-size: 36px;
    }
    .second-text {
        font-size: 26px;
        line-height: 1em;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .unique-heading {
        font-size: 28px;
        line-height: 1em;
        margin-top: 20px;
    }
    
}
@media (min-width: 401px) and (max-width: 599px) {

    .pricing-heading {
        font-family: 'Zilla Slab', serif;
        text-align: center;
        font-size: 30px;
        margin-top: 0px;
        font-weight: 600;
    }
    .logo-packages-heading {
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 900;
        color: #333;
        font-family: 'Zilla Slab', serif;
        text-align: center;
    }    
    .pricing-description {
        color: #555555;
        font-size: 20px;
        line-height: 1.1em;
    }
    .logo-packages-container {
        max-width: 1200px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
        padding-top: 0px;
    }
    .logo-packages-section {
        padding: 50px 0;
    }
}

    
    
@media (max-width: 400px) {

    .pricing-heading {
        font-family: 'Zilla Slab', serif;
        text-align: center;
        font-size: 30px;
        margin-top: 0px;
    }

    .logo-heading {
        font-size: 34px;
        padding-right: 0px;
    }
    .logo-description {
        font-size: 14px;
        line-height: 1.3em;
        padding-right: 0px;
        text-align: justify;
    }
    .btn-group {
        gap: 5px;
    }
    .custom-btn {
        font-size: 11px;
        padding: 8px 12px;
    }
    .custom-trust-images-desk {
        width: 300px;
    }
    .custom-logo-section {
        height: 88vh;
        padding-top: 126px;
        padding-bottom: 8px;
        margin-top: -120px;
    }
    .second-title {
        font-size: 26px;
    }
    .second-text {
        font-size: 22px;
        margin-top: 10px;
    }
    .second-section {
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .bg-image-section {
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .unique-heading {
        font-size: 26px;
        margin-top: 16px;
    }
    .unique-description {
        font-size: 14px;
    }
    .button-container {
        gap: 10px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .logo-packages-heading {
        font-size: 32px;
    
}
.packages-container {
    margin-bottom: 20px;
    padding: 0px 10px;
}

}